.license {
    font-size: small;
    color: #999;
    border-top: 1px solid #999;
    padding-top: 5px;
}

.header {
    width:100%;
    font-size: small;
    border-bottom: 1px solid #999;
    padding-bottom: 5px;
}
